<%-include('../cabecalho.ejs')%>
<h1>Editar Gênero</h1>
<div>
<a href="/genero/lst">Listar</a>
</div>
<div>
    <form  method="post">
       
        <input type="hidden" name="id" 
        value="<%=genero.id%>"><br>
        <label>Gênero:</label>
        <input type="text" name="genero" 
        value="<%=genero.nome%>"><br>
        ><br>
        <button type="submit">Salvar Alterações</button>
        
    </form>
</div>

<%-include('../rodape.ejs')%>