<%-include('../cabecalho.ejs')%>
<h1>Adicionar filme</h1>
<div>
<a href="/filme/lst">Listar</a>
</div>
<div>
    <form  method="post">
        <label>Título:</label>
        <input type="text" name="titulo"><br>
         <label>Diretor:</label>
        <input type="text" name="diretor"><br>
         <label>Ano:</label>
        <input type="number" name="ano"><br>
        <label>Gênero</label>
        <select name="genero" id="">
            <option value=""></option>
            <option value="C">Comédia</option>
            <option value="R">Romance</option>
            <option value="A">Ação</option>
            <option value="D">Drama</option>
            <option value="B">Bigode maneiro</option>
            <option value="K">Kdrama</option>
            <option value="T">Terror</option>
            <option value="I">Infantil</option>
        </select>
         <label>Duração:</label>
        <input type="text" name="duracao"><br>
         <label>Classificação:</label>
          <select name="classificacao" id="">
            <option value=""></option>
            <option value="L">Livre</option>
            <option value="10">10+</option>
            <option value="12">12+</option>
            <option value="14">14+</option>
            <option value="16">16+</option>
            <option value="18">18+</option>
            <option value="P">PROIBIDO</option>
            <option value="99">99+</option>
        </select>
        <button type="submit">Adicionar</button>
        
    </form>
</div>

<%-include('../rodape.ejs')%>